!!! 5
%html
  %head
    %title=t('layout.title')
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

  %body
    = yield


    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
